# Docker compose parameters for Mattermost-LDAP
#
# Adapt these parameters to match with your configuration.
# More information available in section "Configuration" in README.md

#
# Oauth client configuration
#

# Client ID token. Must be a random hex value. Use `openssl rand -hex 32` to generate a token.
client_id = "123456789abcdef123456789abcdef"

# Client Secret token. Must be a random hex value. Use `openssl rand -hex 32` to generate a token.
client_secret = "fedcba987654321fedcba987654321"

# Redirect URI use by Oauth server to redirect user after authentifictaion process. Must be the same than as Mattermost give to Oauth server.
redirect_uri = "http://localhost/signup/gitlab/complete"

# Grant types method uses by Oauth server
grant_types = "authorization_code"

# Scope of the client in the Oauth server
scope = "api"

# Non important parameter. Could be used as a commentary field
user_id = ""

#
# Database configuration
#

# Username for the PostgreSQL administrator account
POSTGRES_USER = "postgres"

# Password for PostgreSQL administrator account
POSTGRES_PASSWORD = "rootroot"

# Method to use for connection to database
POSTGRES_HOST_AUTH_METHOD = "trust"

# Oauth user to connect the database
db_user = "oauth"

# Oauth password to connect the database
db_pass = "oauth_secure-pass"

# Oauth database name
db_name = "oauth_db"

# PostgreSQL database host
db_host = "127.0.0.1"

# PostgreSQL database port
db_port = "5432"

# Database type. Docker compose implementation for Mattermost-LDAP uses PostgreSQL.
db_type = "pgsql"

#
# LDAP configuration
#

# LDAP host or IP
ldap_host = "ldap://ldap.company.com:389/"

# LDAP port
ldap_port = "389"

# LDAP protocol version
ldap_version = "3"

# Unique identifier for entry in LDAP
ldap_search_attribute = "uid"

# Base DN to search from in LDAP
ldap_base_dn = "ou=People,o=Company"

# Additional filter for LDAP search
ldap_filter = "(objectClass=*)"

# Service account to bind LDAP server
ldap_bind_dn = ""

# Password for service account to bind LDAP server
ldap_bind_pass = ""
