# Deny access to everything by default
deny from all

# Only allow access to php files
<Files *.php>
    allow from all
</Files>

# Only allow access to CSS files
<Files *.css>
    allow from all
</Files>

# Only allow access to image
<Files *.png>
    allow from all
</Files>

# Only allow access to html files
<Files *.html>
    allow from all
</Files>
